{% extends "base.html" %}

{% block title %}Halaman Utama{% endblock %}

{% block content %}
<div class="heroes-container">
    <p class="selamat-datang">SELAMAT DATANG</p>
    <p class="deskripsi-heroes">Sistem Pendukung Penentuan Gizi Desa Lalatedzong.<br>Aplikasi ini dirancang untuk
        membantu masyarakat menjaga<br>keseimbangan gizi dengan cara yang mudah dan akurat.</p>
    <p class="start">Mulai Periksa Status Gizi Anda</p>
    <div class="tombols">
        <div class="tombol">
            <button onclick="window.location.href='/data_balita'">Periksa Gizi Balita</button>
            <small class="info-tombol">🛈 Balita usia 0-60 Bulan atau 0-5 Tahun.</small>
        </div>

        <div class="tombol">
            <button onclick="window.location.href='/data_remaja'">Periksa Gizi Remaja</button>
            <small class="info-tombol">🛈 Anak atau Remaja usia 5-18 Tahun.</small>
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}{% endblock %}